@model IEnumerable<ManagementBots.Db.Payment>
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<h3>Платежи</h3> 

<table class="table">
    <tr>
        <td>Id</td>
        <td>Сумма</td>
        <td>Время</td>
        <td>Счет получателя</td>
        <td>Инвойс</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Id</td>
            <td>@item.Summ/td>
            <td>@item.CreateTimeStamp</td>
            <td>@item.Invoice.AccountNumber</td>
            <td><a href="~/Invoice/Get/@item.InvoiceId">Инвойс @item.InvoiceId</a></td>
        </tr>
    }
</table>
