@model IEnumerable<MyTelegramBot.HelpDesk>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = "_Layout";
}
<!DOCTYPE html>

@using (Html.BeginForm("Get", "Help", FormMethod.Get))
{
    <label>Введите номер заявки</label>
    @Html.TextBox("Id")
    <input type="submit" value="Открыть" class="btn btn-success" />
}




<table class="table">
    <tr>
        <td>Номер заявки</td>
        <td>Комментарий</td>
        <td>Дата</td>
        <td>Бот</td>
       <td>Выполнено</td>
    </tr>
    @foreach (var help in Model)
    {
        <tr>
            <td><a href="~/Help/Get/Number?=@help.Number">@("Заявка №" + help.Number)</a></td>
            <td>@help.Text</td>
            <td>@help.Timestamp</td>
            <td><a href=@("https://t.me/" + help.BotInfo.Name)>@help.BotInfo.Name</a></td>
            @if (help.Closed == true)
            {
                <td>Да</td>
            }

           @if (help.Closed == false)
           {
                <td>Нет</td>
           }
        </tr>
    }
</table>

