@model MyTelegramBot.BotInfo
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = "_Layout";
}
<!DOCTYPE html>

<h3>Информация с сервера телеграм</h3>
<h4><code>@ViewBag.Webhook</code></h4>

    @using (Html.BeginForm("SaveInfo", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m=>m.OwnerChatId)


        <p>
            <label>Токен</label><br />
            @Html.TextBoxFor(m => m.Token, new { @class = "form-control", @placeholder = "Введите токен доступа который вы получили от BotFather" })
        </p>


        <p>
            <label>Адрес вебхука</label><br />
            @Html.TextBoxFor(m => m.WebHookUrl, new { @class = "form-control", @placeholder = "URL адрес бота" })
        </p>

        if (Model.HomeVersion == true || Model.HomeVersion==false && Model.ServerVersion==false)
        {
        <p>
            <input type="submit" value="Сохранить" />
        </p>
        }
    }
